body {
	text-align: center;
	background: url(../img/background.jpg) fixed top center no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background: cover;
	background-size: cover;
}

.top {
	color: green;
	font-family: "Comic Sans MS", cursive, sans-serif;
}

.welcome {
	font-size: 1.25em;
	font-family: Baskerville, sans-serif;
}

input {
	border: 0; padding: 12px;
	font-family: impact;
}

input[type="submit"] {
	background: limegreen;
	color: black;
}

.thanks {
	font-family: fantasy, Tahoma, sans-serif;
	font-size: 1.25em;
}

#message {
	margin-top: 50px;
}











